<div class="container text-center">
  <div class="jumbotron">
    <h3>What's your name? <small></small></h3>
    <%= form_for @user, url: sign_in_url, method: :post do |f| %>
      <%= f.text_field :name, class:'form-control text-center', style: 'display: inline-block; margin: 1em; max-width: 30em', placeholder: 'Full name, handle or anything somewhat unique...' %>  <br/>
      <p><small>We need this to keep track of your queries.</small></p>
      <%= f.submit 'Sign in', class: 'btn btn-default btn-lg btn-primary'%>
    <% end %>
  </div>
</div>
